<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Гра</title>
</head>
<body>
    <style>
    .color_green {
     color: green;}
    .color_blue{
     color: blue;}
    </style>

    <form method="post" action="/">
       <p>Користувач: {{user_name}} <button name = "btn_login" value="Quit">Вийти</button></p>
       <p><input type="hidden" name="user_name" value={{user_name}} ></p>
       <p><input type="hidden" name="user_pass" type="password" value={{user_pass}}></p>
       переможці
    </form>

    </body>
</html>