<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Знову в бій!</title>
</head>
<body >
    <style>
    .outline {
    border: 2px solid black;
    padding: 0 10px;
    width: 370px;	height: 275px;
            }
    .color_red {
     color: red;}
    .color_green {
     color: green;}
    .color_blue{
     color: blue;}

      body {
         background-image: url({{url_for('static', filename = 'fon06.jpg')}});
         background-position: top;
         background-repeat: no-repeat; /* Отменяем повторение фона */
         background-color: white;
         }
      </style>

    <form method="post" action="/" >
        <center>
            <div class="outline">
            <h1><span class="color_red">Знову в бій!</span></h1>
            <h2>Авторизуйтеся</h2>
            <p>Логін: 	&#160; <input name="user_name" title="Новий користувач при першому вході буде зареєстрований" required value={{user_name}} ></p>
            <p>Пароль: <input name="user_pass" required type="password" value={{user_pass}}></p>
            <p><span class="color_red">{{error}}</span></p>
            <!-- <button name = "btn_login" value="Login"> Увійти</button> -->
            <button name = "btn_login" value="Login" style="width:100px;height:30px"><b>Увійти</b></button>
           </div>
       <center>
    </form>
            <h2>.</h2>
             <h2>.</h2>
             <h2>.</h2>
             <h1 style="color:blue;; text-align:left;"> Рейтинг гравців</h1>
             <h2 style="color:blue; text-align:left;">1. {{user1}}</h2>
             <h2 style="color:blue; text-align:left;">2. {{user2}}</h2>
             <h2 style="color:blue; text-align:left;">3. {{user3}}</h2>

    </body>
</html>